{% extends 'layouts/page.njk' %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">{{ complianceYear }} relevant year</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ heading }}</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="v3-search-panel govuk-!-margin-bottom-4">
        {%- from "moj/components/search/macro.njk" import mojSearch -%}
        {{ mojSearch({
          action: "/certificates-of-compliance",
          method: "get",
          input: {
            id: "search",
            name: "search"
          },
          label: {
            text: "Search by organisation name or ID",
            classes: "govuk-!-font-weight-bold"
          },
          hint: {
            text: ""
          },
          button: {
            text: "Search",
            classes: "govuk-!-margin-bottom-0"
          }
        }) }}
      </div>
    </div>
  </div>
  {% include "certificatesOfCompliance/partials/producer-subnavigation.njk" %}
  <div class="govuk-tabs">
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item{% if activeTab == 'pending' %} govuk-tabs__list-item--selected{% endif %}">
        <a class="govuk-tabs__tab" href="?type={{ organisationType }}&tab=pending" {% if activeTab == 'pending' %} aria-current="page" {% endif %}>
          Pending ({{ totalPending }})
        </a>
      </li>
      <li class="govuk-tabs__list-item{% if activeTab == 'accepted' %} govuk-tabs__list-item--selected{% endif %}">
        <a class="govuk-tabs__tab" href="?type={{ organisationType }}&tab=accepted" {% if activeTab == 'accepted' %} aria-current="page" {% endif %}>
          Accepted ({{ totalAccepted }})
        </a>
      </li>
      <li class="govuk-tabs__list-item{% if activeTab == 'not-submitted' %} govuk-tabs__list-item--selected{% endif %}">
        <a class="govuk-tabs__tab" href="?type={{ organisationType }}&tab=not-submitted" {% if activeTab == 'not-submitted' %} aria-current="page" {% endif %}>
          Not submitted ({{ totalNotSubmitted }})
        </a>
      </li>
    </ul>
    {% if activeTab == 'pending' %}
      {% set tabCount = totalPending %}
      {% set tabSummaryText = 'pending submissions' %}
    {% elif activeTab == 'accepted' %}
      {% set tabCount = totalAccepted %}
      {% set tabSummaryText = 'accepted submissions' %}
    {% elif activeTab == 'not-submitted' %}
      {% set tabCount = totalNotSubmitted %}
      {% set tabSummaryText = 'not submitted' %}
    {% endif %}
    {% include "certificatesOfCompliance/partials/tab-panel.njk" %}
  </div>
</div></div>{% endblock %}