{% extends "moj/template.njk" %}

{% set htmlLang = locale %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}

{% block headIcons %}
  <link rel="icon" sizes="48x48" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/favicon.ico") }}">
  <link rel="icon" sizes="any" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/favicon.svg") }}" type="image/svg+xml" >
  <link rel="mask-icon" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/govuk-icon-mask.svg") }}" color="{{ themeColor }}">
  <link rel="apple-touch-icon" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/images/govuk-icon-180.png") }}">
  <link rel="manifest" href="{{ getAssetPath("node_modules/govuk-frontend/dist/govuk/assets/manifest.json") }}">
{% endblock %}

{% block head %}
  <link href="{{ getAssetPath('src/client/stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block govukHeader %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: serviceUrl,
    useTudorCrown: true
  }) }}
{% endblock %}

{% block govukServiceNavigation %}
  {% set languageSwitcherEnd %}
    <nav class="language-toggle-nav" aria-label="{{ t(locale, 'common.languageSwitcher.label') }}">
      <ul class="language-toggle">
        <li class="language-toggle__option">
          {% if locale == 'cy' %}
            <a class="govuk-link govuk-link--no-visited-state" href="{{ languageSwitcher.en }}" lang="en">{{ t(locale, "common.languageSwitcher.english") }}</a>
          {% else %}
            <span class="language-toggle__active" lang="en">{{ t(locale, "common.languageSwitcher.english") }}</span>
          {% endif %}
        </li>
        <li class="language-toggle__option">
          {% if locale == 'cy' %}
            <span class="language-toggle__active" lang="cy">{{ t(locale, "common.languageSwitcher.welsh") }}</span>
          {% else %}
            <a class="govuk-link govuk-link--no-visited-state" href="{{ languageSwitcher.cy }}" lang="cy">{{ t(locale, "common.languageSwitcher.welsh") }}</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  {% endset %}

  {{ govukServiceNavigation({
    navigation: navigation,
    slots: {
      end: languageSwitcherEnd
    }
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs,
      attributes: {
        'role' : 'complementary'
      }
    }) }}
  {% elseif backlink.length >1 %}
    {{ govukBackLink({
      text: backlinkText | default(t(locale, "common.nav.back")),
      href: localeUrl(backlink),
      attributes: {
        'role' : 'complementary',
        'aria-label' : t(locale, "common.nav.backDescription")
      }
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block govukFooter %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: t(locale, "common.footer.privacy")
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: t(locale, "common.footer.cookies")
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: t(locale, "common.footer.accessibility")
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('src/client/javascripts/application.js') }}"></script>
{% endblock %}
