{% from "status-tag/macro.njk" import appStatusTag %}
{% from "sorting-column-header/macro.njk" import appSortingColumnHeader %}
<div class="govuk-tabs__panel" id="{{ activeTab }}">
  <p class="govuk-body-l govuk-!-margin-bottom-4">
    <strong>{{ tabCount }}</strong>
    {{ tabSummaryText }}
  </p>
  <p class="govuk-body govuk-!-margin-bottom-4">
    <a
      class="govuk-link"
      data-module="app-table-download"
      href="{{ localeUrl('/certificates-of-compliance/download?organisation_type=' ~ organisationType ~ '&submission_status=' ~ activeTab, locale) }}">
      {{ i18n.t('downloadLink') }}
    </a>
  </p>
  {% if items.length > 0 %}
    <table class="govuk-table v3-compact-table">
      <caption class="govuk-table__caption govuk-visually-hidden">{{ tabSummaryText | capitalize }}</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          {{ appSortingColumnHeader({ sortable: false, firstColumn: true, columnName: 'OrganisationName', columnLabel: t(locale, 'certificatesOfCompliance.common.columns.organisationName'), locale: locale, i18n: i18n }) }}
          {{ appSortingColumnHeader({ sortable: false, columnName: 'OrganisationId', columnLabel: t(locale, 'certificatesOfCompliance.common.columns.organisationId'), locale: locale, i18n: i18n }) }}
          {{ appSortingColumnHeader({ sort: sort, columnName: 'RecyclingObligations', columnLabel: t(locale, 'certificatesOfCompliance.common.columns.recyclingObligations'), sortable: activeTab != 'not-submitted', defaultDirection: 'asc', locale: locale, i18n: i18n }) }}
          {% if organisationType == 'compliance-schemes' %}
            {{ appSortingColumnHeader({ sort: sort, columnName: 'Regulation43', columnLabel: t(locale, 'certificatesOfCompliance.common.columns.regulation43'), sortable: activeTab != 'not-submitted', defaultDirection: 'asc', locale: locale, i18n: i18n }) }}
          {% else %}
            {{ appSortingColumnHeader({ sort: sort, columnName: 'PercentageMet', columnLabel: t(locale, 'certificatesOfCompliance.common.columns.percentageMet'), sortable: activeTab != 'not-submitted', defaultDirection: 'asc', locale: locale, i18n: i18n }) }}
          {% endif %}
          {% if activeTab != 'not-submitted' %}
            {{ appSortingColumnHeader({ sort: sort, columnName: 'DateSubmitted', columnLabel: t(locale, 'certificatesOfCompliance.common.columns.dateSubmitted'), defaultDirection: 'desc', locale: locale, i18n: i18n }) }}
          {% endif %}
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for item in items %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">
              {% if item.id == null %}
                <a
                  href="{{ localeUrl('./' ~ item.organisationId ~ '/certificates-of-compliance?obligationYear=' ~ complianceYear, locale) }}"
                  class="govuk-link govuk-link--no-visited-state">{{ item.organisationName }}</a>
              {% else %}
                <a
                  href="{{ localeUrl('./' ~ item.organisationId ~ '/certificates-of-compliance/' ~ item.id, locale) }}"
                  class="govuk-link govuk-link--no-visited-state">{{ item.organisationName }}</a>
              {% endif %}
            </th>
            <td class="govuk-table__cell">{{ item.organisationReferenceNumber }}</td>
            <td class="govuk-table__cell">
              {{ appStatusTag({ value: item.recyclingObligationsMet, trueText: i18n.ct('statusTag', 'met'), falseText: i18n.ct('statusTag', 'notMet'), locale: locale, i18n: i18n }) }}
            </td>
            {% if organisationType == 'compliance-schemes' %}
              <td class="govuk-table__cell">
                {{ appStatusTag({ value: item.regulation43Met, trueText: i18n.ct('statusTag', 'compliant'), falseText: i18n.ct('statusTag', 'notCompliant'), locale: locale, i18n: i18n }) }}
              </td>
            {% else %}
              <td class="govuk-table__cell">
                {% if item.obligationCoveragePercentage != null %}
                  {{ item.obligationCoveragePercentage }}%{% else %}—{% endif %}
              </td>
            {% endif %}
            {% if activeTab != 'not-submitted' %}
              <td class="govuk-table__cell">{{ item.dateSubmitted | formatDate('do MMMM yyyy') }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination/template.njk" %}
  {% else %}
    <p class="govuk-body">{{ emptyTabMessage }}</p>
  {% endif %}
</div>
