{% extends 'layouts/page.njk' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "csrf-field/macro.njk" import appCsrfField %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {{ govukErrorSummary({
          titleText: t(locale, "common.errorSummary.title"),
          errorList: errors.summary
        }) }}
      {% endif %}

      <form method="post" action="{{ localeUrl('/' ~ organisationId ~ '/certificates-of-compliance/' ~ id ~ '/accept', locale) }}" novalidate>
        {{ appCsrfField(CSRFToken) }}
        {{ govukRadios({
          name: "confirm-accept",
          fieldset: {
            legend: {
              text: i18n.t('legend', { docTypeLower: docTypeLower, companyName: companyName }),
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errors.confirmAccept if errors,
          items: [
            { value: "yes", text: t(locale, "common.yes") },
            { value: "no", text: t(locale, "common.no") }
          ]
        }) }}

        {{ govukButton({
          text: t(locale, "common.continue"),
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
