@use 'variables/colours' as *;
@use 'govuk-frontend' as *;

.app-header {
  border-bottom-color: $app-light-grey;
}

.app-service-navigation__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: govuk-spacing(2);
}

.language-toggle-nav {
  margin-left: auto;
  margin-bottom: govuk-spacing(2);
}

.language-toggle {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: govuk-spacing(3);
  justify-content: flex-end;
}

.language-toggle__option {
  margin: 0;
}
