{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: ""
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">{{ message }}</p>
      <a href="{{ serviceUrl }}" class="govuk-link">{{ linkText }}</a>
    </div>
  </div>
{% endblock %}
